.page {
    height: 100vh;
    width: 100vw;
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-rows: 85% 15%;
    background-color: var(--bg-primary);
    overflow: hidden;
  }
  @media screen and (min-width: 1200px) {
    .page {
      grid-template-rows: 100%;
      grid-template-columns: 85% 15%;
    }
  }