.page {
    height: 100vh;
    width: 100vw;
    padding: 0px;
    margin: 0px;
    background-color: var(--bg-primary);
    overflow: hidden;
  }
  .appcomponent{
    height: inherit;
    width: inherit;
    display: grid;
    grid-template-rows: 15% 70% 15%;
  }

@media screen and (min-width: 1200px) {
    .appcomponent {
      grid-template-rows: 100%;
      grid-template-columns: 15% 75% 10%;
        border-radius: 5vmin 0vmin 0vmin 5vmin;
    }
  }
  /* @media screen and (max-width: 320px) {
    html {
      font-size: calc(16px + 6 * ((100vw - 320px) / 680)); 
      font-size: 3vmin;
    }
  }
  @media screen and (max-width: 1200px) {
    html {
      font-size: 2vmin;
    }
  } 
  */